/** @format */

$backgroundPrimary: black;
$textColor: white;
$navbarMarg: 5em;
$defaultFont: 'Anonymous Pro', monospace;
$headingFont: 'Press Start 2P', monospace;

body {
  background: $backgroundPrimary;
  color: $textColor;
  margin-top: $navbarMarg;
  font-family: $defaultFont;
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  text-align: center;
}

#logo{
  $logoSize: 2em;
  max-width: $logoSize;
  max-height: $logoSize;
  margin-right: 1em;
}

#coName {
  font-family: $headingFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
