/** @format */
body {
  background: black;
  color: white;
  margin-top: 5em;
  font-family: "Anonymous Pro", monospace;
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  text-align: center;
}

#logo {
  max-width: 2em;
  max-height: 2em;
  margin-right: 1em;
}

#coName {
  font-family: "Press Start 2P", monospace;
  font-size: 1.2em;
}

@media (min-width: 600px) {
  #coName {
    font-size: 1.5em;
  }
}

@media (min-width: 600px) {
  .nav-link {
    font-size: 1.2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
